<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daily Planet</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>
</head>
<body> 
<br>    
  <ul class="nav nav-tabs">
    <li id="home"><a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
    <li id="about"><a href="/about"><span class="glyphicon glyphicon-user"></span> About Us</a></li>
    <li id="contact"><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
  </ul>

<br>
  <div class="container">









