<% include ../partials/header %>
<h2>Some info about the daily planet</h2>

    <p>The Daily Planet is a fictional broadsheet newspaper in the DC Comics Universe, appearing mostly in the stories of Superman. The building's original features appear to be based upon the Old Toronto Star Building, where Superman co-creator Joe Shuster had been a newsboy when the Toronto Star was still called the Daily Star. Shuster has claimed that Metropolis is visually based on Toronto.[1] The Daily Planet is based in Metropolis and employs Clark Kent, Lois Lane, and Jimmy Olsen; its editor-in-chief is Perry White.</p>

    <p>In the comics, the newspaper is said to be located in the heart of Metropolis at the corner of Fifth Street and Concord Lane.[citation needed] One story claims the Planet began publication in 1775 and that George Washington wrote a guest editorial for the first daily edition.[2] The Daily Planet building's most distinguishing and famous feature is the enormous globe that sits on top of the building.</p>

    <a href="http://en.wikipedia.org/wiki/Daily_Planet" target="blank">Read More</a>
<br>
<script type="text/javascript">
window.onload=function () {
    $('#about').addClass('active');
};
</script>
<% include ../partials/footer %>