<% include ../partials/header %>

  <p>5th St. & Concord Ln.</p>
  <p>Metropolis, USA</p>
  <div><a href="#">hello@thedailyplanet.com</a></div>
<br>
<script type="text/javascript">
window.onload=function () {
    $('#contact').addClass('active');
};
</script>
<% include ../partials/footer %>